body{
 width: 100%;
 height: 100%;
 margin: 0;
}

.content{
    min-height: 600px;
}
.banner-image{
    padding-bottom: 140px;
 margin-bottom: 20px;
 text-align: center;
 color: #f8f8f8;
 background: url("image/main.jpg") no-repeat center;
 background-size: cover;
    
}
.inner-banner{
 padding-top: 12%;
 padding-left: 45%;
 width:90%;
 margin:auto;
}
.banner_content{
 position: relative;
 padding-top: 6%;
 padding-bottom: 6%;
 overflow:hidden;
 margin-bottom: 12%;
 background-color: rgba(0, 0, 0, 0.7);
 max-width: 660px;
}

#con{
    padding-bottom: 15px;
    font-size: 19px
    
}

footer{
 background-color: #000;
 color:#fff;
 font-size:14px;
}
.footerr{
    width:90%;
 margin:auto;
 overflow:hidden;
 text-align: center;
    
}


#about{
    font-size: 16px;
    padding-bottom: 20px;

}
#join{
    padding-left: 30%;
    padding-top: 8%;
    padding-bottom: 5%;
}